{% extends '../base.html' %}

{% block title %}Home - My Diary{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <h1 class="navbar-brand">Welcome!!!</h1>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        <a class="nav-link " href="{% url 'new_entry' %}">New Entry</a>
        <a class="nav-link" href="{% url 'edit_entry' %}">Edit Entry</a>
        <a class="nav-link " href="{% url 'logout' %}">LogOut </a>
      </div>
    </div>
  </div>
</nav>
{% endblock %}
