{% extends '../base.html' %}

{% block title %}New Entry{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <span>
<h2 class="mt-3 text-center">New Diary Entry</h2>
<div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea2">New Entry</label>
  </div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="button" class="btn btn-primary btn-sm">Save</button>
</form>
<a  href="{% url 'home' %}">Back to Home</a>
</span>

</div>
{% endblock %} 


